
.panel .panel-heading {
  padding: 5px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom: 1px solid #DDD;
  border-radius: 0px;
}
.bd-highlight{
  border-right: 1px solid #eee;
}